.chartSize {
  margin:auto;
  max-width:85%;
  padding-top:5px;
  margin-top:15px;
  margin-bottom:15px;
};
.baseChartOut {
  max-width:85%;
  max-height:85%;
  min-height:300px;
};
.baseChart{
  min-height:300px;
};