<div *ngIf="!fetchDone">
  <div class='flexCenter'>
    <app-search (cityChange)="cityParam= $event"></app-search>
  </div>
  <div class='flexCenter'>
    <button (click)="getWeather('city')">{{textForTranslationFr.getMeteoButtonCity}} {{cityParam}}</button>
  </div>
  <div style="height:20px">
    </div>
    <div class='flexCenter'>
      <button (click)="getWeather('location')">{{textForTranslationFr.getMeteoButtonLocation}}</button>
    </div>
  </div>
  
  <div *ngIf='fetchDone'>
    <h2 class='centeredText'>{{date}}, {{city}}({{country}})</h2>
    <div class='flexCenter'>
      <button (click)="changeCity()">{{textForTranslationFr.changeCityButton}}</button>
    </div>
  </div>
<div *ngIf='fetchDone' class='chartStyle'>
  <p class='centeredText'>{{textForTranslationFr.labelForButtonsChartType}}</p>
  <div class='flexCenter'>
    <a class='button1'
    [ngStyle]="{'background-color':chartType === 'line' ? '#5555e79b' : 'white' }"
    (click)="toggleChartType('line')">
      <h3>{{textForTranslationFr.chartTypeButtonLines}}</h3>
    </a>
    <a class='button1'
    [ngStyle]="{'background-color':chartType === 'bar' ? '#5555e79b' : 'white' }"
    (click)="toggleChartType('bar')">
      <h3>{{textForTranslationFr.chartTypeButtonBars}}</h3>
    </a>
  </div>
</div>
<div *ngIf='fetchDone' class='flexCenterMargin'>
  <a class='button'[ngStyle]="{'background-color':dataType === 'temp' ? '#5555e79b' : 'white' }"
  (click)="setDataType('temp')"
    >
    <h4> {{textForTranslationFr.dataTypeButtonTemp}} </h4>
  </a>
  <a class='button'[ngStyle]="{'background-color':dataType === 'humidity' ? '#5555e79b' : 'white' }"
  (click)="setDataType('humidity')"
    >
    <h4> {{textForTranslationFr.dataTypeButtonHumidity}} </h4>
  </a>
  <a class='button'[ngStyle]="{'background-color':dataType === 'pressure' ? '#5555e79b' : 'white' }"
  (click)="setDataType('pressure')"
    >
    <h4 style='margin-top:0.45rem;'> {{textForTranslationFr.dataTypeButtonPressure}} </h4>
  </a>
</div>
<div *ngIf='fetchDone' class='textCentered'>
  <app-chart [dataType]="dataType" [data]="data" [dates]='dateOfDays' [xaxisCategories]='axisCategories'
    [title]='graphTitle' [chartType]='chartType' [dataOk]='dataOk'>
  </app-chart>
</div>